header {

      background-color : darkgray;
      background-image : url(../images/flywheel.jpg);
      background-size: cover;
      padding: 30px;
 }

 h1{
     color: white;
     text-align: center;
     text-transform : capitalize;
     font-size : 500%;
 }

 h2{
    color: royalblue;
    text-transform : capitalize;
    text-align: center;
     
 }

 body{
     padding : 20px;
     margin : 10px;
     text-transform: capitalize
 }

 section {
    background-color: lightgreen;
    text-transform: capitalize;
    text-align: left;
    margin: 10px;
    padding: 30px;
     border: 3px solid #666;

 }

 nav a{
    opacity: 1 ;
    background-color: snow;
    color: black;
    text-align: center;
    width : 15%;
    display :inline-block;
    padding : 10px;
    border-radius : 15px;

 }

 .active
     { background-color: gainsboro;
     color: royalblue; }
 }

 .left{
     float: left;
     width: 20 %;
     display : inline-block;
     border : 1px solid;
     border-width : 3px;
     clear: both ;

 }

 .left a{

    display: inline-block;
    width: 3%
    margin-left: 20 %;
}


 }
 .right 
 {
     display: inline-block;
     width: 70%;

     float: right;
 }

main {
    display: inline-block;
}
img {src="images/1.jpg";
 width="400";
 height="300"; }
.left img {
      height: 350px;
      width: 590px;
}


