header {

      background-color : darkgray;
      background-image : url(../images/flywheel.jpg);
      background-size: cover;
      padding: 30px;
 }

 h1{
     color: white;
     text-align: center;
     text-transform : capitalize;
     font-size : 500%;
 }

 h2{
    color: royalblue;
    text-transform : capitalize;
    text-align: center;
     
 }
.leftimg {
    float:left;
    margin: 15px 15px 15px 0; 
   }

 body{
     padding : 20px;
     margin : 10px;
     text-transform: capitalize
 }

 section {
    background-color: lightgreen;
    text-transform: capitalize;
    text-align: left;
    margin: 10px;
    padding: 30px;
     border: 3px solid #666;

 }

 nav a{
    opacity: 1 ;
    background-color: snow;
    color: black;
    text-align: center;
    width : 15%;
    display :inline-block;
    padding : 10px;
    border-radius : 15px;

 }

 .active
     { background-color: gainsboro;
     color: royalblue; }
 }

