header {

      background-color : darkgray;
      background-image : url(../images/flywheel.jpg);
      background-size: cover;
      padding: 30px;
 }

 h1{
     color: white;
     text-align: center;
     text-transform : capitalize;
     font-size : 500%;
 }

 h2{
    color: royalblue;
    text-transform : capitalize;
    text-align: center;
     
 }

 body{
     padding : 20px;
     margin : 10px;
     text-transform: capitalize
 }

 section {
    background-color: lightgreen;
    text-transform: capitalize;
    text-align: left;
    margin: 10px;
    padding: 30px;
     border: 3px solid gray;

 }

 nav a{
    opacity: 1 ;
    background-color: snow;
    color: black;
    text-align: center;
    width : 15%;
    display :inline-block;
    padding : 10px;
    border-radius : 15px;

 }

 .active
     { background-color: gainsboro;
     color: royalblue; }
 }

table{
  opacity:1;
}
div{
  border-width: thin;
  text-align: center;
  border-style: double;
}
a
{
  color: lightgreen;
  font-size: 30px;
}
img{
  width:70%;
}
p{
  font-family: corbel;
  line-height: 200%;
  background-color: lightgreen;
}
th
{
  font-family: sans-serif;
  height:50px;
  background-color: lightgreen;
  color: black;
  border:0 10px 0 0;
  font-variant: small-caps;
;
}
td:first-child{
    text-align: left;
    color: black;
}
td
{
  text-align:center;
}
tr,td{
  border-style: dotted;
  margin:20px;
  padding:10px;
}
tr{
  transition: 0.5s background-color;
  opacity:0.6;
}
tr:hover{ 
  color:black;
  opacity:1;
  background-color: white;
}